
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="css/bootstrap.min.css">

<style type="text/css">
  
  .textBox {
    position:absolute;
    width: 400px;
    left: 15%;
  }
    #excelDiv {
    position:relative;
    top:35px;   
  }
 input[type='file']
 {
    opacity:0; 
    position:absolute;
    background-color: #DDF;
    left: 15%;
    padding-right: 144px; 
 }

 #chooseFileButton {
  position:relative;
  top: 40px;
  left: 15%;
 }
 .step1 {
  display: inline-block;
  padding: 0px 40px;
  margin-left: 40px;
  margin-top: 130px;
  font-size: 29px;
  color: white;
  font-weight: 300;
  line-height: 56px;
  background: #FAA226;
  position:relative;

 }
  .step2 {
  display: inline-block;
  padding: 0px 40px;
  margin-top: 190px;
  font-size: 29px;
  color: white;
  font-weight: 300;
  line-height: 56px;
  background: #00ACEE;
  position:relative;

 }
  .step3 {
  display: inline-block;
  padding: 0px 40px;
  margin-top: 250px;
  font-size: 29px;
  color: white;
  font-weight: 300;
  line-height: 56px;
  background: #f4503e;
  position:relative;

 }

 .textStep1 {
    display: inline-block;
    line-height: 56px;
    font-size: 29px;
    padding: 0px 40px;
    color: white;
    font-weight: 300;
    position:relative;
    margin-top:20px;
    background: #FAA226;
 }

  .textStep2 {
    display: inline-block;
    padding: 0px 40px;
    margin-top: 160px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #00ACEE;
    position:relative;
 }

.textStep3 {
    display: inline-block;
    padding: 0px 40px;
    margin-top: 180px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #f4503e;
    position:relative;
  }

  .textStep4 {
    display: inline-block;
    padding: 0px 40px;
    margin-top: 200px;
    font-size: 29px;
    color: white;
    font-weight: 300;
    line-height: 56px;
    background: #9464e2;
    position:relative;
  }


</style>

<script>
 $(document).ready(function () {
 $('#file').change(function() {
  $("#textBox").val($('#file').val().substring(12));
});
});
</script>

<span class = "textStep1"> Step 1: Upload Excel File </span>
<div id= "excelDiv">
<%= form_tag({action: :upload}, multipart: true) do %>
  <input type="text" class = "textBox" id="textBox" size = "50" readonly />
  <%= file_field_tag 'file', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel' %> 
<!--<input type="submit" value="Generate" id="chooseFileButton" /> !-->
<% end %>
</div>

<span class = "textStep2"> Step 2: Generate .yaml & .sql files </span>
<div>
</div>
<span class = "textStep3"> Step 3: Inject .sql file into Database </span>
<div>
</div>
<span class = "textStep4"> Step 4: Generate JIRA Tickets </span>
<div>
</div>

</form>





