Ecommerce Platform
<style type="text/css">
  .file{
    position:absolute;
    background-color: #DDF;
    left: 15%;
    padding-right: 144px;

  }
 
  .textBox {
    position:absolute;
    width: 400px;
    left: 15%;
  }
    #excelDiv {
    position:relative;
    top:35px;   
  }
 input[type='file']
 {
    opacity:0;  
 }

 #chooseFileButton {
  position:absolute;
  top: 40px;
  left: 285px;
 }

 #excelSSText {
  position:absolute;
  left: 20px;
 }

</style>

<script>
function getPath() {
  alert($('input[type=file]').val())
}
function putInTextBox(oFileInput, sTargetID) {
  value = oFileInput.value.substring(12)
  document.getElementById(sTargetID).value = value
}
</script>

 <link rel="stylesheet" href="css/bootstrap.min.css">
<div id= "excelDiv">
<form action="upload.php" method="post" enctype="multipart/form-data">
  <!--<span class="excelSSText "> Excel Spreadsheet </span>!-->
  <input type="text" class = "textBox" id="txtFileName" size = "50" readonly/>
  <input type="file" id="fileSelect" class ="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="putInTextBox(this, 'txtFileName');"/> 
  <input type="submit" value="Generate" id="chooseFileButton" /> 
</div>
 
</form>



