   #success1 {
    position:absolute;
    left: 710px;
    top: 5px;
  }
  #success2 {
    position: absolute;
    margin-top: 30px;
    left: 710px;

  } 

  #success2B {
    position: absolute;
    margin-top: 30px;
    left: 850px;
  }
  #success3 {
    position: absolute;
    left: 910px;
    margin-top: -35px;
  } 

  #success4 {
    position: absolute;
    left: 710px;
    margin-top: 30px;
  }

    #success5 {
    left: 580px;
    position: absolute;
    top: 364px;
    
  }

  #ecstCheck1 {
    position: absolute;
    margin-left: 525px;
    margin-top: 47px;
    
  }
  #ecstCheck2 {
     position: absolute;
     margin-left: 525px;
     margin-top: 70px;
  }

  .textBox {
    position:absolute;
    width: 400px;
    left: 15%;
  }
  #textBox2{
    position:absolute;
    width: 400px;
    left: 15%;
    margin-top: 30px;

  }
    #excelDiv {
    position:relative;
    top:35px; 

  }
 input[type='file']
 {
    opacity:0; 
    position:absolute;
    background-color: #DDF;
    left: 15%;
    padding-right: 144px; 
 }

 span {
  font-family: "proxima-nova", "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 #chooseFileButton {
  position:relative;
  top: 40px;
  left: 15%;
 }

 #updateRepoButton {
  position:absolute;
  left: 15%;
  margin-top: 70px;
 }

 #dbinjectButton {
  position:relative;
  top: 40px;
  left: 15%;
 }
 #svnText {
   position:relative;

 }

 #svnCommitText {
   position:absolute;
   left: 600px;
   font-size: 12px;
   font-weight: 300;
   margin-top: 50px;

 }

 .textStep1 {
    display: block;
    line-height: 40px;
    font-size: 25px;
    padding: 0px 40px;
    color: white;
    font-weight: 300;
    position:relative;
    background: #FAA226;
    margin-top: -5px;

 }

  .textStep2 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    line-height: 40px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    background: #00ACEE;
    position:relative;
 }

     .textStep3 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    line-height: 40px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    background:  #49bf68;
    position:relative;
    border-top:2px solid #000000;
  }

.textStep4 {
    display: block;
    padding: 0px 40px;
    margin-top: 120px;
    line-height: 30px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    background: #f4503e;
    position:relative;
  }

  .textStep5 {
    display: block;
    padding: 0px 40px;
    margin-top: 160px;
    line-height: 40px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    background: #9464e2;
    position:relative;
    border-top:2px solid #000000;
  }

  #yaml{
    position: absolute;
    left: 710px;
    margin-top: 60px;
    font-size: 12px;
    font-weight: 300;
    color: #FAA226;
    font: bold;
    
  }

  #sql {

    position: absolute;
    left: 850px;
    margin-top: 60px;
    font-size: 12px;
    font-weight: 300;
    color: #FAA226;
  }
  #excel {
    position: absolute;
    left: 710px;
    font-size: 12px;
    font-weight: 300;
    margin-top: -10px;
  }
  #dbtext {
    position: absolute;
    left: 945px;
    font-size: 12px;
    font-weight: 300;
    margin-top: -30px;
  }
  #jira {
  position:relative;
  top: 10px;
  left: 15%;

  }

  #jira1, #jira2, #jira3, #jira4, #jira5 {
    margin-right: 20px;
    display: block;

  }

  #jira6 {
 
    display: block;
    left: 300px;
    top: 19px;
    position:absolute;

  }
  #jira6span, #jira7span{
    display: block;
  }

   #username, #password {
    left: 400px;
    top: -300px;
    position:relative;

   }

   #usernameSpan, #passwordSpan {
        display: block;
   }
   #enitreJIRAdiv {
   margin: 0 auto;

   }
   #injectIntoDButton {
    height: 100%;

   }
   #jiraButton{
      position: relative;
      left: 400px;
      top:-290px;
   }

   #recentRepoDirectoriesText {
      left: 710px;
      display: block;
      position: absolute;
      margin-top: -10px;
      color:  #49bf68;
   }
   #recentRepoArea_hatch {
    position: relative;
    left: 710px;
    margin-top: 70px;
   }
   #injectInDBText {
    position: absolute;
    margin-top: 100px;
    left: 710px;
   }

   #loading_image {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  display:none;
  margin: 120px auto 50px -50px; /* value of top margin: height of the image divide by 2 (ie: 240 / 2), value of left margin: width of the image divide by 2 (ie: 260 / 2) */ /* same as the image width */
}

#svnHintText{
  position: relative;
  left: 15%;
  top: 15px;
}

#jiraHintText {
  position: absolute;
  top: 105px;
  left: 400px;
}

#jiraCheckEmailText {
  position: absolute;
  top: 370px;
  left: 620px ;
}

#intro {
  background-color: black;
  text-align: center;
  height: 60px;
  text-align: 10px;
  line-height: 56px;
  font-size: 29px;
  padding: 0px 20px;
  color: white;
  font-weight: 300;
  position:relative;
}
#recentDirectoriesText{
  left: 100px;
}

#lastOfferChainBuild{
  top: 10px;
}
#recentRepoArea_hatch{
  background-color: white;
  top:260px;
  position:absolute;
}
#summary, #description {
  background-color: white;
}

#checkBoxes {
  position: absolute;
  left:400px;
  margin-top: 70px;
  display: inline-block;
}
#q1 {
  position: absolute;
  margin-left: 265px;
  margin-top: -40px;

}
#q2 {
  position: absolute;
  margin-left: 295px;
  margin-top: -40px;
}
#q3 {
  position: absolute;
  margin-left: 315px;
  margin-top: -40px;
}
#PMOM{
  left: 400px;
  top: -300px;
  position:relative;

}
#PMOMspan{
  display: block;
}

#hoverUpload {
    background:#F8F8F8;
    border: 4px solid #DFDFDF;
    color: #717171;
    font-size: 10px;
    height: 33px;
    letter-spacing: 1px;
    line-height: 10px;
    position: absolute;
    display:none;
    
}
#hoverUpload:after{
    content:'';
    bottom:-10px; 
    width:10px;
    height:12px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
}

p:hover #hoverUpload{
    display:block;
    position: absolute;
    margin-left: 295px;
    margin-top: -40px;
}





